spring:
  datasource:
    url: jdbc:postgresql://localhost:5439/billable_metrics_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.yml

application:
  name: billable-metrics-service
server:
  port: 8085
